<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>elAdmin</contextName>

    <!-- 基础配置 -->
    <property name="log.charset" value="utf-8" />
    <property name="log.pattern"
              value="%contextName- %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- 日志目录 -->
    <property name="log.path" value="/app/logs" />

    <!-- ================= 控制台 ================= -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- ================= 文件（按天滚动） ================= -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当前日志 -->
        <file>${log.path}/app.log</file>

        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>

        <!-- 按天切割 + 保留30天 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/app.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 保留30天 -->
            <maxHistory>30</maxHistory>

            <!-- 总大小限制（可选，防止爆盘） -->
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- ================= 根日志 ================= -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- Spring 降噪 -->
    <logger name="org.springframework" level="WARN" />

    <!-- Netty 降噪 -->
    <logger name="io.netty.resolver.dns.DnsServerAddressStreamProviders" level="ERROR"/>

    <!-- Tomcat 降噪 -->
    <logger name="org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/]" level="ERROR"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>

</configuration>